
*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
}
main{
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
}
h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: coral;
}

button{
    border: none;
    background-color: rgba(115, 217, 248, 0.5);
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    margin-right: 10px;

}
button:hover{
    background-color: rgba(115, 217, 248,1);
}